.home {
    height: 30px;
    background-color: #00828c;
    padding: 12px;
    border-radius: 35%;
    transition: all 0.5s ease 0s;   
}

.home:hover {
    border-radius: 50%;
}

.navbar-logo {
    position: fixed;
    top: 15px;
    left: 2%;
    z-index: 999;
}

nav {
    height: 40px;
    max-width: 760px;
    background-color: #00838ce8;
}

.nav {
    position: fixed;
    top: 15px;
    right: 2%;
    z-index: 999;
    border-radius: 5px 20px;
    align-items: center;
    display: flex;
    color: white;
}

.Resume_button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;    
    text-decoration: none;
    color: white;
    width: 100%;
}

.Resume_button:hover {
    background-color: #ffffff5e;
}
  
.nav > .nav-header {
    display: inline;
}
  
.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}
  
.nav > .nav-btn {
    display: none;
}
  
.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 15px;
    margin: 5px 20px
}
  
.new-links {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #efefef;
}
  
.new-links:hover {
    Color: rgba(0, 0, 0, 0.3);
}

  
.nav > #nav-check {
    display: none;
}
  
@media (max-width: 880px) {
    .nav {
        background-color: rgba(255, 255, 255, 0);
    }  
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      background-color: #00828c;
      border-radius: 5px 20px;
      padding: 3px 6px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 20px;
      height: 20px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: #00828c;
        border-radius: 5px 20px;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 50%;
      background-color: #00828c;
      border-radius: 10px 40px;
      height: 50%;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      right: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 70%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(60vh - 50px);
      overflow-y: auto;
    }
}