.horContainer {
    width: 70vw;
    height: 600px;
    padding: 0px 15vw 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.fade-effect-scroll.left {
    width: 45px;
    height: 450px;
    position: absolute;
    left: 15vw;
    margin-top: 150px;
    z-index: 1;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255,255,255,0) 5%, rgb(255, 255, 255) 100%);
}

.fade-effect-scroll.right {
    width: 45px;
    height: 450px;
    margin-top: 150px;
    position: absolute;
    right: 8.7vw;
    z-index: 1;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255,255,255,0) 5%, rgb(255, 255, 255) 100%);
}

.R-title {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-top: 100px;
}




.c-response {
    color: #339394;
    font-weight: 500;
    font-size: 15px;
    padding-top: 5px;
}

/* @media screen and (max-width: 800px) {
    .horContainer {
        height: 100vh;
    }
} */