.a {
    height: 60vh;
    display: flex;
    align-items: center;
    padding: 5%;
}

.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 50%;
}

.a-right {
    flex: 1;
    background-color: #b4e3e4,
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    margin: 5%;
}

/* .a-card.bg {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: rgba(255, 127, 80, 0.144);
} */

/* .a-card {
    width: 70%;
    height: 40vh;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    background-color: cyan;
} */

.a-img {
    height: 80%;
    object-fit: cover;
    border-radius: 0px 80px;
}

.logo {
    height: 45px;
    border-radius: 20px;
    margin: 10px;
}

.icon {
    height: 70px;
}

.a-desc {
    line-height: 1.6em;
}

.a-end {
    line-height: 3em;
}

@media screen and (max-width: 880px) {
    .a {
      flex-direction: column;
      text-align: center;
    }

    .a-left {
        height: 70vw;
        margin: -20vh;
    }

    .a-right {
        margin-top: 8vh;
    }

    .a-end {
        line-height: normal;
    }

    .logo {
        height: 40px;
    }
}