.c{
    height: 100vh;
    position: relative;
}
.c-footer{
    width: 100%;
    height: 50px;
    bottom: 0px;
    background-color: #339394;
    position: absolute;
    text-align: center;
    line-height: 20px;
    padding-top: 10px;
    font-size: 13px;
    color: white;
}

.c-wrapper {
    padding: 50px;
    display: flex;
}

.c-left {
    flex: 1;
}

.c-link {
    font-size: 16px;
}

.c-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-title {
    font-size: 60px;
    width: 100%;
}

.c-info-item {
    display: flex;
    align-items: center;
    margin: 50px 0px 20px 20px;
    font-weight: 300;
    width: 80%;
}

.c-icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.c-shy {
    font-size: 30px;
}

form {
    margin-top: 20px;
}

input {
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 5px 20px;
    border-left: 1px solid #339394;
    border-bottom: 1px solid #339394;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    border: none;
    border-radius: 5px 20px;
    border-left: 1px solid #339394;
    border-bottom: 1px solid #339394;
}

.c-button {
    border: none;
    padding: 15px 30px;
    background-color: #339394;
    color: white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px 20px;
}