.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: O#00828c;
    color: white;
}

.navbar-logo {
    position: fixed;
    top: 20px;
    left: 2%;
    width: 60px;
    overflow: hidden;
    line-height: 0;
    z-index: 101;
}

.home {
    height: 30px;
    background-color: #339294ed;
    padding: 12px;
    border-radius: 40%;
}


header {
    box-sizing: border-box;
    padding: 40px 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    position: fixed;
    z-index: 200;
}

header > li, a, button {
    font-size: 13px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navbar_links {
    list-style: none;
    padding: 5px;
    background-color: #339294ed;
    border-radius: 5px 20px;
    /* display: inline-block; */
}


.navbar_links li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar_links li button {
    transition: all 0.3s ease 0s;
}

.navbar_links li a:hover {
    color: #ffffff;
}

.nav_button {
    padding: 5px 25px;
    border: none;
    border-radius: 5px 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav_button:hover {
    background-color: #ffffff5e;
}

.mobile-menu-icon {
    display: none;
}

/* .nav-links-mobile {
    display: none;
} */

@media screen and (max-width: 1020px) {
    .navbar_links {
        display: none;
    }

    .nav-links-mobile {
        /* position: absolute; */
        display: block;
        list-style: none;
        margin-top: 180px;
        padding: 10px 20px;
        background-color: #339294ed;
        border-radius: 5px 20px;
        /* position: absolute;
        display: block;
        list-style: none;
        background-color: #339294ed;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%; */
    }
    
    .link-mobile {
        line-height: 30px;
    }
    
    .nav-links-mobile li button {
        transition: all 0.3s ease 0s;
    }
    
    .nav-links-mobile li a:hover {
        color: #ffffff;
    }
}
