.p-gallery {
    width: 20%;
    height: 30vh;
    margin: 20px 10px;
    border: 2px solid #626262;
    border-radius: 10px 50px;
    overflow: hidden;
}

.pG-dot1 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 4px;
    background-color: #000000;
}

.pG-dot2 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 4px;
    background-color: #1f1f1f;
}

.pG-dot3 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 4px;
    background-color: #626262;
}